.nav {
    display: flex;
    height: 80px;
    width: 200px;
    justify-content: flex-start;
    align-items: center;
    background: rgb(214, 214, 214);
}

.link1 {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 170px;
    height: 60px;
    margin-top: 20px;
    background: #04a96d;
    border-radius: 0 5px 5px 0;
}

.link2 {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 170px;
    height: 60px;
    margin-top: 20px;
    background: #2196f3;
    border-radius: 0 5px 5px 0;
}

.link3 {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 170px;
    height: 60px;
    margin-top: 20px;
    background: #ee4638;
    border-radius: 0 5px 5px 0;
}

.probname {
    font-size: 20px;
    color: white;
}